@if (ShowDialog)
{
    <div class="modal fade show d-block" tabindex="-1" role="dialog">
        <div class="modal-dialog align-items-center d-sm-flex h-75" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@Title</h5>
                    <div class="round_button" data-dismiss="modal" @onclick="() => Close(false)">&times;</div>
                </div>
                <div class="modal-body"> @ChildContent</div>
                @if (LeftBtnText != null && RightBtnText != null)
                {
                    <div class="modal-footer">
                        @if (LeftBtnText != null)
                        {
                            <button type="button" class="btn btn-primary" @onclick="() => Close(true)">@LeftBtnText</button>
                        }
                        @if (RightBtnText != null)
                        {
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => Close(false)">@RightBtnText</button>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string? LeftBtnText { get; set; }

    [Parameter]
    public string? RightBtnText { get; set; }

    [Parameter]
    public EventCallback<bool> OnClosed { get; set; }

    [Parameter]
    public bool ShowDialog { get; set; } = false;

    private async Task Close(bool value)
    {
        await OnClosed.InvokeAsync(value);
    }
}
