@using BlazorForum.Data
@using BlazorForum.Database
@using BlazorForum.Libraries

@inject IDatabaseCalls DatabaseCalls
@inject LibValidate LibValidate
@inject LibExternal LibExternal

<div class="panel">
    <EditForm FormName="Comment" Model="this" OnSubmit="SubmitCommentAsync">
        @* User name ----------------------------------------- *@
        <div class="column20 right-desktop vertical-center">User name&nbsp;&nbsp;</div>
        <div class="column paddingR-10">
            <InputText @bind-Value=@InputName class="textfield" disabled="@isEditable" tabindex="1" size="40" maxlength="20" />
        </div>
        <div class="spacer4"></div>
        @* Title --------------------------------------------- *@
        @if (PostType == PostType.TopicNew || PostType == PostType.TopicUpdate)
        {
            <div class="column20 right-desktop">Title&nbsp;&nbsp;</div>
            <div class="column paddingR-10">
                <InputText @bind-Value=@InputTitle class="textfield" tabindex="2" size="40" maxlength="60" />
            </div>
            <div class="spacer4"></div>
        }
        @* Text ---------------------------------------------- *@
        <div class="column20 right-desktop">Text&nbsp;&nbsp;</div>
        <div class="column paddingR-10">
            <InputTextArea @bind-Value=@InputText class="textarea" tabindex="3" rows="@rowsText" maxlength="5000" />
        </div>
        <div class="spacer4"></div>
        @* Submit -------------------------------------------- *@
        <div class="column20 right-desktop">&nbsp;</div>
        <div class="column paddingR-10">
            <button class="btn btn-primary" type="submit">Submit</button>
            <br />
            <br />
            <p class="text-danger">@errorMessage</p>
        </div>
    </EditForm>
</div>

@code {
    [Parameter]
    public PostType PostType { get; set; }

    [Parameter]
    public int? CommentId { get; set; }

    [Parameter]
    public int? TopicId { get; set; }

    [Parameter]
    public bool IsModerator { get; set; }

    [Parameter]
    public string InputName { get; set; } = string.Empty;

    [Parameter]
    public string InputTitle { get; set; } = string.Empty;

    [Parameter]
    public string InputText { get; set; } = string.Empty;

    private bool isEditable;

    private int rowsText;

    private string errorMessage = string.Empty;

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        if (IsModerator && (PostType == PostType.TopicNew || PostType == PostType.CommentNew))
        {
            InputName = "Moderator";
        }

        isEditable = PostType == PostType.TopicUpdate || PostType == PostType.CommentUpdate;

        rowsText = PostType == PostType.TopicNew || PostType == PostType.TopicUpdate ? 16 : 10;
    }

    private async Task SubmitCommentAsync()
    {
        try
        {
            IpInfo ipInfo = await LibExternal.GetIpInfoAsync();

            Comment comment = new Comment()
            {
                Id = this.CommentId ?? 0,
                TopicId = this.TopicId,
                Name = InputName.Trim(),
                Title = PostType == PostType.TopicNew || PostType == PostType.TopicUpdate ? InputTitle.Trim() : null,
                Text = InputText.Trim(),
                Active = true,
                Moderator = IsModerator,
                Hidden = false,
                Closed = false
            };

            errorMessage = string.Empty;

            // Validate the input fields
            (bool result, string message) = await LibValidate.IsCommentValidAsync(PostType, comment);
            if (result != true)
            {
                errorMessage = message;
                return;
            }

            //------ Banned IP
            if (await DatabaseCalls.IsBannedIpAsync(ipInfo.Ip))
            {
                errorMessage = "You are not allowed to post on this forum";
                return;
            }

            if (PostType == PostType.TopicNew || PostType == PostType.CommentNew)
            {
                comment.Id = await DatabaseCalls.GetNextCommentIdAsync();

                int userId = await DatabaseCalls.GetUserIdAsync(comment.Name, ipInfo.Ip);

                if (userId == 0)
                {
                    userId = await DatabaseCalls.GetNextUserIdAsync();

                    await DatabaseCalls.SaveUserAsync(new User()
                    {
                        Id = userId,
                        Name = comment.Name,
                        CountryCode = ipInfo.CountryCode,
                        IP = ipInfo.Ip,
                        Active = true,
                        Moderator = IsModerator
                    });
                }

                comment.UserId = userId;

                await DatabaseCalls.SaveCommentAsync(comment);
            }
            else
            {                                
                await DatabaseCalls.UpdateCommentAsync(comment);
            }
        }
        catch (Exception ex)
        {
            await LibExternal.SendEmailAsync(nameof(SubmitCommentAsync), ex);
        }
    }
}
