@using BlazorForum.Data

@if (showEditComment)
{
    <button class="btn btn-primary" @onclick="() => EditComment(Comment)">Edit</button>
    <span>&nbsp;</span>
}

@if (showDeleteComment)
{
    <button class="btn btn-primary" @onclick="() => DeleteComment(Comment)">Delete</button>
    <span>&nbsp;</span>
}

@if (showHideComment)
{
    <button class="btn btn-primary" @onclick="() => HideComment(Comment)">Hide</button>
    <span>&nbsp;</span>
}

@if (showUnhideComment)
{
    <button class="btn btn-primary" @onclick="() => UnhideComment(Comment)">Unhide</button>
    <span>&nbsp;</span>
}

<CompCommentReactions Comment=@Comment></CompCommentReactions>

<CompModalDialog 
    Title=@dialogTitle
    LeftBtnText=@dialogLeftBtnText
    RightBtnText=@dialogRightBtnText
    OnClosed=@dialogOnClosed
    ShowDialog=@dialogShowDialog>
    <span>@dialogMessage</span>
</CompModalDialog>

<CompModalDialog 
    Title=@dialogTitle
    OnClosed=@dialogOnClosed
    ShowDialog=@dialogShowEdit>
    <span>
        <CompCommentEdit 
            PostType=@postType
            TopicId=null
            CommentId=null
            IsModerator=IsModerator
            InputName=@Comment?.Name
            InputTitle=@Comment?.Title    
            InputText=@Comment?.Text>
        </CompCommentEdit>
    </span>
</CompModalDialog>

@code {
    [Parameter]
    public IpInfo? IpInfo { get; set; }

    [Parameter]
    public Comment? Comment { get; set; }

    [Parameter]
    public bool IsModerator { get; set; }

    [Parameter]
    public EventCallback<Comment> OnEditComment { get; set; }

    [Parameter]
    public EventCallback<Comment> OnDeleteComment { get; set; }

    [Parameter]
    public EventCallback<Comment> OnHideComment { get; set; }

    [Parameter]
    public EventCallback<Comment> OnUnhideComment { get; set; }

    private bool showEditComment = true;    
    private bool showDeleteComment = true;
    private bool showHideComment = true;
    private bool showUnhideComment = true;

    private string dialogTitle = string.Empty;
    private string dialogMessage = string.Empty;
    private string dialogLeftBtnText = string.Empty;
    private string dialogRightBtnText = string.Empty;    
    private EventCallback<bool> dialogOnClosed;
    private bool dialogShowDialog = false;

    private bool dialogShowEdit = false;
    private PostType postType;

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        showEditComment = (Comment?.Ip == IpInfo?.Ip || IsModerator) && Comment?.Hidden == false;
        showDeleteComment = (Comment?.Ip == IpInfo?.Ip || IsModerator);
        showHideComment = (IsModerator && Comment?.Hidden == false);
        showUnhideComment = (IsModerator && Comment?.Hidden == true);
    }

    private void EditComment(Comment comment)
    {
        if (comment.IsTopic())
        {
            postType = PostType.TopicUpdate;
            dialogTitle = "Edit topic";
        }
        else
        {
            postType = PostType.CommentUpdate;
            dialogTitle = "Edit comment";
        }

        dialogOnClosed = EventCallback.Factory.Create<bool>(this, EditCommentConfirmed);
        dialogShowEdit = true;
    }

    private void EditCommentConfirmed(bool editConfirmed)
    {
        dialogShowEdit = false;
    }

    private void DeleteComment(Comment comment)
    {
        dialogTitle = "Delete comment";
        dialogMessage = "Are you sure you want to delete this comment?";
        dialogLeftBtnText = "OK";
        dialogRightBtnText = "Cancel";
        dialogOnClosed = EventCallback.Factory.Create<bool>(this, DeleteCommentConfirmed);
        dialogShowDialog = true;
    }

    private void DeleteCommentConfirmed(bool deleteConfirmed)
    {
        dialogShowDialog = false;
        if (deleteConfirmed)
            OnDeleteComment.InvokeAsync(Comment);
    }

    private void HideComment(Comment comment)
    {
        dialogTitle = "Hide comment";
        dialogMessage = "Are you sure you want to hide this comment?";
        dialogLeftBtnText = "OK";
        dialogRightBtnText = "Cancel";
        dialogOnClosed = EventCallback.Factory.Create<bool>(this, HideCommentConfirmed);
        dialogShowDialog = true;
    }

    private void HideCommentConfirmed(bool hideConfirmed)
    {
        dialogShowDialog = false;
        if (hideConfirmed)
            OnHideComment.InvokeAsync(Comment);
    }

    private void UnhideComment(Comment comment)
    {
        dialogTitle = "Unhide comment";
        dialogMessage = "Are you sure you want to unhide this comment?";
        dialogLeftBtnText = "OK";
        dialogRightBtnText = "Cancel";
        dialogOnClosed = EventCallback.Factory.Create<bool>(this, UnhideCommentConfirmed);
        dialogShowDialog = true;
    }

    private void UnhideCommentConfirmed(bool unhideConfirmed)
    {
        dialogShowDialog = false;
        if (unhideConfirmed)
            OnUnhideComment.InvokeAsync(Comment);
    }
}
