@page "/"

<PageTitle>Index</PageTitle>

<h1 style="color:darkblue;">Hello Everyone</h1>

<br>

<p>This is a simple Blazor Demo by <a target="_blank" href="https://www.linkedin.com/in/miroslav-olenjin-143aa123/">Miroslav Olenjin</a></p>

<p>This demo includes the following programming methods:</p>

<ul>
    <li>Blazor Bootstrap</li>
    <li>Blazor components</li>
    <li>Desktop/Mobile layout</li>
    <li>Modal dialogs</li>
    <li>Dependency injection</li>
    <li>JavaScript interop</li>
    <li>D3.js graphic library</li>
</ul>

