@inherits LayoutComponentBase

@using BlazorForum.Content

<div class="page">
    <main>
            <div class="forum_content">
                <div class="spacer6" />
                <CompContentHeader /> 
                <div class="spacer10" />
                @Body
                <div class="spacer10" />
                <CompContentFooter />
            </div>

    </main>
</div>
