@inherits LayoutComponentBase

@using BlazorForum.Content

<div class="page">
    <main>
        <div class="forum_content">
            <div class="spacer6 desktop-only" />
            <CompContentHeader /> 
            <div class="spacer10 desktop-only" />
            @Body
            <div class="spacer10 desktop-only" />
            <CompContentFooter />
        </div>
    </main>
</div>
