@page "/new"

@using BlazorForum.Data
@using BlazorForum.Libraries
@using BlazorForum.Components

@inject LibModerator LibModerator
@inject LibExternal LibExternal

<PageTitle>New Topic</PageTitle>

<div class="forum_content">
    <div class="forum">
        <CompModeratorLogIn ipInfo=@ipInfo IsModerator=isModerator></CompModeratorLogIn>
        <CompForumHeader ForumLinkOn=true ActionTitle="New Topic" ActionLinkOn=false></CompForumHeader>
        <br />
        <br />
        <CompComment PostType=PostType.TopicNew TopicId=null CommentId=null IsModerator=isModerator></CompComment>
    </div>
</div>

@code {
    private IpInfo? ipInfo;
    private bool isModerator;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        try
        {
            ipInfo = await LibExternal.GetIpInfoAsync();
            isModerator = await LibModerator.IsModeratorAsync(ipInfo);
        }
        catch (Exception ex)
        {
            await LibExternal.SendEmailAsync(nameof(PageNewTopic), ex);
        }
    }
}
