@page "/new"

@using BlazorForum.Libraries
@using BlazorForum.Components

<PageTitle>New Topic</PageTitle>

<div class="forum_content">
    <div class="forum">

        <CompForumHeader ForumLinkOn=true ActionTitle="New Topic" ActionLinkOn=false></CompForumHeader>

        <br />
        <br />

        <div class="panel">
            <EditForm FormName="Hello" Model="this" OnSubmit="Submit">                
                @* User name ----------------------------------------- *@
                <div class="column20 right-desktop">User name&nbsp;&nbsp;</div>
                <div class="column paddingR-10">
                    <InputText @bind-Value="Name" class="textfield" tabindex="1" size="40" maxlength="20" />
                </div>
                <div class="spacer4"></div>
                @* Title --------------------------------------------- *@
                <div class="column20 right-desktop">Title&nbsp;&nbsp;</div>
                <div class="column paddingR-10">
                    <InputText @bind-Value="Title" class="textfield" tabindex="2" size="40" maxlength="60" />
                </div>
                <div class="spacer4"></div>
                @* Text ---------------------------------------------- *@
                <div class="column20 right-desktop">Text&nbsp;&nbsp;</div>
                <div class="column paddingR-10">
                    <InputTextArea @bind-Value="Text" class="textarea" tabindex="3" rows="20" maxlength="5000" />
                </div>
                <div class="spacer4"></div>
                @* Submit -------------------------------------------- *@
                <div class="column20 right-desktop">&nbsp;</div>
                <div class="column paddingR-10">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </EditForm>
        </div>

    </div>
</div>

@code {
    string Name { get; set; } = string.Empty;
    string Title { get; set; } = string.Empty;
    string Text { get; set; } = string.Empty;

    private void Submit()
    {

    }
}
