@page "/new"

@using BlazorForum.Data
@using BlazorForum.Components

<PageTitle>New Topic</PageTitle>

<div class="forum_content">
    <div class="forum">
        <CompForumHeader ForumLinkOn=true ActionTitle="New Topic" ActionLinkOn=false></CompForumHeader>
        <br />
        <br />
        <CompComment PostType=PostType.TopicNew TopicId=null CommentId=null></CompComment>
    </div>
</div>

@code {

}
