<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\BlazorForum.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />

      <rewrite>
        <rules>
          <rule name="Redirect non-existing to root" stopProcessing="true">
            <match url=".php" />
            <conditions logicalGrouping="MatchAll">
              <!-- Check if the request is NOT for a real file -->
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <!-- Check if the request is NOT for a real directory -->
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
              <!-- Avoid redirecting the root itself to prevent loops -->
              <add input="{REQUEST_URI}" pattern="^/$" negate="true" />
            </conditions>
            <action type="Redirect" url="/" redirectType="Found" />
          </rule>
        </rules>
      </rewrite>

    </system.webServer>
  </location>
  <system.web>
    <compilation tempDirectory="D:\Inetpub\vhosts\accn-australia.com\tmp" />
  </system.web>
</configuration>
<!--ProjectGuid: d2d2666d-9ef8-493f-b3ab-68208152c298-->