html {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

/*--- Desktop/Mobile ------------------------------*/

.desktop-only {
    display: block;
}

.mobile-only {
    display: none;
}

.small {
    font-size: 8pt;
}

.normal {
    font-size: 10pt;
}

.large {
    font-size: 12pt;
}

.title {
    font-size: 32pt;
}

.email {
    font-size: 12pt;
}

.forum_content {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(0,0,0);
    text-align: left;
    font-family: verdana;
    font-size: 10pt;
    line-height: normal;
}

.forum_header {
    color: rgb(50,50,50);
    text-align: left;
    font-size: 14pt;
    font-weight: bold;
}

.forum_topic {
    color: rgb(50,50,50);
    text-align: left;
    font-size: 12pt;
}

.forum_faint {
    color: rgb(100,100,100);
    text-align: left;
    font-size: 8pt;
}

/*--- Background color ----------------------------*/

.back-black {
    background-color: black;
}

.back-red {
    background-color: red;
}

.back-darkred {
    background-color: #D00000 !important;
    ;
}
/*--- Text color ----------------------------------*/

.white {
    color: white;
}

.red {
    color: red;
}

.grey {
    color: grey;
}

.lightgrey {
    color: lightgrey;
}

/*--- Text style ----------------------------------*/

.bold {
    font-weight: bold;
}

/*--- Text alignment ------------------------------*/

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.right-desktop {
    text-align: right;
}

a, img {
    border: none;
    outline: none;
    max-width: 100%;
}

    a.header:link {
        color: rgb(0,0,150);
        text-decoration: none;
    }

    a.header:visited {
        color: rgb(0,0,150);
        text-decoration: none;
    }

    a.header:hover {
        text-decoration: underline;
    }

    a.header:active {
        text-decoration: underline;
    }

    a.topiclist:link {
        color: rgb(0,0,150);
        text-decoration: none;
    }

    a.topiclist:visited {
        color: rgb(100,100,100);
        text-decoration: none;
    }

    a.topiclist:hover {
        text-decoration: underline;
    }

    a.topiclist:active {
        text-decoration: underline;
    }

    a.footer:link {
        color: rgb(0,0,150);
        text-decoration: none;
    }

    a.footer:visited {
        color: rgb(0,0,150);
        text-decoration: none;
    }

    a.footer:hover {
        text-decoration: underline;
    }

    a.footer:active {
        text-decoration: underline;
    }

div.forum {
    background-color: rgb(240,240,240);
    border: 1px;
    border-style: solid;
    border-radius: 10px 10px 10px 10px;
    border-color: rgb(180,180,180);
    padding: 10px;
}

hr.topic {
    display: block;
    border: none;
    height: 1px;
    color: rgb(210,210,210);
    background-color: rgb(210,210,210);
    border-color: rgb(210,210,210);
    margin: 12px 0 12px 0;
    opacity: 1;
}

/*--- Padding -------------------------------------*/

.padding2 {
    padding: 2px;
}

.padding5 {
    padding: 5px;
}

.padding10 {
    padding: 10px;
}

.padding20 {
    padding: 20px;
}

/*--- Text field ----------------------------------*/

.textfield {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block; /*reset from inline*/
    border: 1px solid #CCC;
    border-radius: 4px;
    margin: 0; /*remove defaults*/
    padding: 6px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

input:disabled {
    background-color: #e9e9e9;
}

/*--- Text area -----------------------------------*/

.textarea {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block; /*reset from inline*/
    border: 1px solid #CCC;
    border-radius: 4px;
    margin: 0; /*remove defaults*/
    padding: 6px;
    overflow-y: auto;
    overflow-x: hidden;
    resize: vertical;
    width: 100%;
}

/*--- Div -----------------------------------------*/

.spacer2 {
    height: 2px;
    clear: left;
}

.spacer4 {
    height: 4px;
    clear: left;
}

.spacer6 {
    height: 6px;
    clear: left;
}

.spacer8 {
    height: 8px;
    clear: left;
}

.spacer10 {
    height: 10px;
    clear: left;
}

.spacer20 {
    height: 20px;
    clear: left;
}

.flex {
    display: flex;
}

.width50 {
    width: 50%;
}

.width100 {
    width: 100%;
}

.column {
}

.column20 {
    min-width: 160px;
}

.cell {
    width: 100%;
    display: table-cell;
}

.full_width {
    width: 100%;
}

.round_badge {
    width: 36px;
    height: 36px;
    font-size: 14pt;
    font-weight: bold;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.round_button {
    width: 36px;
    height: 36px;
    font-size: 24pt;
    color: rgb(100,100,100);
    background-color: #E2E5E9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4px;
}

.round_button:hover {
    background-color: #D6D9DD;
    cursor: pointer;
}

/*--- iPhone --------------------------------------*/

@media only screen and (max-width: 640px) {
    .small {
        font-family: helvetica;
        font-size: 10pt;
    }

    .normal {
        font-family: helvetica;
        font-size: 12pt;
    }

    .large {
        font-family: helvetica;
        font-size: 14pt;
    }

    .title {
        font-family: helvetica;
        font-size: 18pt;
    }

    .email {
        font-family: helvetica;
        font-size: 10pt;
    }

    .forum_header {
        font-family: helvetica;
        font-size: 16pt;
    }

    .forum_topic {
        font-family: helvetica;
        font-size: 14pt;
    }

    .forum_content {
        font-family: helvetica;
        font-size: 12pt;
    }

    .forum_faint {
        font-family: helvetica;
        font-size: 10pt;
    }

    .right-desktop {
        text-align: left;
    }

    .column {
        width: 100%;
    }

    .column20 {
        width: 100%;
    }

    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: block;
    }
}
