<div class="back-black">
    <div class="width100 flex">
        <div class="desktop-only" style="min-width: 220px">
            <img alt="" src="/Images/HeaderImage.jpg">  
        </div>
        <div class="padding10">
            <div class="white">
                <span style="font-weight: bold; font-size: 42px">
                    Spiritual and Mental <span class="red">Abuse</span> in Apostolic Christian Church Nazarene in Australia
                </span>
            </div>
            <div class="spacer10" />
            <div>
                <span class="forum_topic desktop-only" style="color:grey">
                    CHURCH SPLITS | COURT CASES | POWER STRUGGLE
                </span>
                <span class="forum_faint mobile-only" style="color:grey">
                    CHURCH SPLITS | COURT CASES | POWER STRUGGLE
                </span>
            </div>
            <div class="spacer10" />
            <div class="white" style="font-weight: bold; font-size: 16px;">
                Page 1&nbsp;
                <a class="white" href="Page2.html">2</a>&nbsp;
                <a class="white" href="Page3.html">3</a>&nbsp;
                <a class="white" href="Page4.html">4</a>&nbsp;
                <a class="white" href="Page5.html">5</a>&nbsp;
                ...&nbsp;
                <a class="white" href="Page16.html">16</a>&nbsp;
                <a class="white" href="Page17.html">17</a>&nbsp;
                <a class="white" href="Page18.html">18</a>&nbsp;
                <a class="white" href="Page19.html">19</a>&nbsp;
                <a class="white" href="Page20.html">20</a>
            </div>
        </div>
    </div>

    <div class="white width100 flex padding2" style="font-weight: bold; font-size: 16px; background-color:rgb(204, 0, 0)">
        <div class="width50 left" style="padding-left: 10px">accn-australia.com</div>
        <div class="width50 right" style="padding-right: 10px">accnaustralia@gmail.com</div>
    </div>
</div>

@code {

}
