<br>
<br>
<div style="text-align: center;"><big><a href="Page2.html"><big>Go&nbsp;to Page 2
&gt;&gt;&gt;</big></a></big><br>
</div>
&nbsp; <br>
<br>
<table style="background-color: rgb(230, 240, 255); width: 100%; text-align: left; margin-left: auto; margin-right: auto;" border="1" cellpadding="12" cellspacing="0">
<tbody>
<tr>
<td>
<div style="text-align: center;">
<div style="text-align: left;"><big style="color: rgb(102, 0, 204);"><big><span style="font-weight: bold;"><big><big>Special
Topics</big></big></span></big></big><span style="color: rgb(102, 0, 204);">&nbsp;</span> <br>
</div>
<span style="font-style: italic;"></span></div>
<table style="text-align: left; width: 100%;" border="0" cellpadding="6" cellspacing="0">
<tbody>
<tr>
<td style="vertical-align: top; width: 50%;">
<ul>
<li><big><a href="ColumbiaStation.html">Columbia Station</a></big></li>
<li><big><a href="Psychology.html">Psychology
is evil</a></big></li>
<li><big><a href="SelfCentred.html">You
are a self-centred group</a></big></li>
<li><big><a href="ImperativeToForgiveJohnVujicic.html">Imperative To
Forgive</a></big></li>
<li><big><a href="FalseProphets.html">A
False Prophet</a></big></li>
</ul>
</td>
<td style="vertical-align: top;">
<ul>
<li><big><a href="JanoSulja1996.html">Jano
Sulja's Letter</a></big></li>
<li><big><a href="MessageToElders.html">Message to the Elders</a></big></li>
<li><big><a href="ShameOnAbusers.html">Shame on Abusers</a></big></li>
<li><big><a href="JimIgic.html">Jim
Igic</a></big></li>
<li><big><a href="DontSendOthersToHell.html">Don't send others to Hell</a><br>
</big></li>
</ul>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
&nbsp; &nbsp;
<span style="font-style: italic;"> </span><big><span style="font-style: italic;"></span></big><big><span style="font-style: italic;"></span></big><span style="font-weight: bold;"></span><big><span style="font-style: italic;"></span></big><big><span style="font-style: italic;"></span></big><big><span style="font-style: italic;"></span></big><span style="font-style: italic;"> </span><span style="font-style: italic;">&nbsp;&nbsp; &nbsp; </span><big style="font-style: italic;">&nbsp;
</big>&nbsp;<big style="color: black;"> <br>
</big>
<p style="text-align: center;"><a href="SpiritualAbuseArticles.html"><big><big><span style="font-weight: bold;">"The
Insidious Harm of Spiritual Abuse" and other articles</span><br>
</big></big></a></p>
<p style="text-align: center;">&nbsp; &nbsp;
<br>
<big><big>Our
e-mail: <a href="mailto:accnaustralia@gmail.com">accnaustralia@gmail.com</a></big></big></p>
<big><big><span style="font-weight: bold;"></span></big></big><big style="color: black;"> &nbsp; &nbsp; </big><big><big><span style="font-weight: bold;"></span></big></big><br>
<br>
<big><big><big><span style="font-weight: bold;">In
Serbian, if you like</span></big></big></big><br>
<div style="text-align: justify;"><big style="color: black;">You asked for it, and here it is! <a href="http://www.accn-australia.com/MessagesInSerbian.html">The
new page (click to open)</a>
for your comments and questions written in Serbian language.
A good
proportion of our readers is bi-lingual and able to understand Serbian
as well as English,
so please keep sending your messages in both languages. &nbsp;&nbsp; <br>
</big><big style="color: rgb(100, 120, 120);"><big><span style="font-weight: bold;"><big><big></big></big></span></big></big></div>&nbsp; <br>&nbsp;<br>
<div style="text-align: justify;"><big>Note:
To be able to see our website properly on your mobile phones and
tablets please turn off the option "Auto-fit pages"
(in your mobile browser's Settings). If you have experienced any
problems accessing our website on your mobile device please let us
know. Thank you.</big>&nbsp;<br>
</div>
<br>
<table style="background-color: black; width: 100%; height: 40px; text-align: left; margin-left: auto; margin-right: auto;" border="0" cellpadding="2" cellspacing="2">
<tbody>
<tr>
<td style="text-align: center;"><big style="color: white;"><span style="font-weight: bold;">Spiritual
and Mental <span style="color: red;">Abuse</span>
in ACCN in Australia -
Page 1</span></big></td>
</tr>
</tbody>
</table>
&nbsp;<br>
<br>
<div style="text-align: center;"><big><a href="Page2.html"><big>Go&nbsp;to Page 2
&gt;&gt;&gt;</big></a></big><br>
</div>
&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;<br>
&nbsp; <br>
&nbsp; <br>
&nbsp;<br>
&nbsp;

@code {

}
